<% include ../partials/head.ejs %>
<link rel='stylesheet' href='/stylesheets/style0.css' />
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container" align="center">
      <h1>Editar Empleado</h1>
      <form action="/employees/update/<%= employee._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nombre</td>
              <td><input type="text" name="name" value="<%= employee.name %>" /></td>
            </tr>
            <tr>
              <td>Direccion</td>
              <td><input type="text" name="address" value="<%= employee.address %>"</td>
            </tr>
            <tr>
              <td>Rol</td>
              <td><input type="text" name="position" value="<%= employee.position %>" /></td>
            </tr>
            <tr>
              <td>Salario</td>
              <td><input type="number" name="salary" value="<%= employee.salary %>" /></td>
            </tr>
            <tr>
              <td colspan="2" align="center"><button class="btn btn-success btn-sm" type="submit" >Actualizar</button>
              <a href="/employees" class="btn btn-danger btn-sm">Cancelar</a></td>
            </tr>

          </tbody>
        </table>
      </form>
    </div>
  </body>
